<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>862684362716-u8vr0ek7tqevk5udhojadq592is10smu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862684362716-u8vr0ek7tqevk5udhojadq592is10smu</string>
	<key>API_KEY</key>
	<string>AIzaSyAaHPMjtMUo2E2rCYR7PYQ0e3B3Gy0CUxM</string>
	<key>GCM_SENDER_ID</key>
	<string>862684362716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hoang.com.ShareEatingPlaces</string>
	<key>PROJECT_ID</key>
	<string>shareeatingplaces</string>
	<key>STORAGE_BUCKET</key>
	<string>shareeatingplaces.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:862684362716:ios:f03b87e7c0bbd375</string>
	<key>DATABASE_URL</key>
	<string>https://shareeatingplaces.firebaseio.com</string>
</dict>
</plist>